<svg viewBox="0 0 639.375 960"
  height="100%" id="svg3422" xmlns="http://www.w3.org/2000/svg">
  <svg:defs id="defs3426">
    <svg:linearGradient id="linearGradient4392">
      <svg:stop id="stop4394" offset="0" style="stop-color:#000000;stop-opacity:0;" />
      <svg:stop id="stop4396" offset="1" style="stop-color:#f8f9f8;stop-opacity:0.95" />
    </svg:linearGradient>
    <svg:linearGradient id="linearGradient4186">
      <svg:stop id="stop4188" offset="0" style="stop-color:#8d8f90;stop-opacity:1" />
      <svg:stop id="stop4190" offset="1" style="stop-color:#f0f0ff;stop-opacity:1" />
    </svg:linearGradient>
    <svg:linearGradient id="linearGradient4402">
      <svg:stop style="stop-color:#000000;stop-opacity:0;" offset="0" id="stop4406" />
      <svg:stop style="stop-color:#f8f9f8;stop-opacity:0.94915253" offset="1" id="stop4404" />
    </svg:linearGradient>
    <svg:linearGradient id="linearGradient4322">
      <svg:stop id="stop4324" offset="0" style="stop-color:#000000;stop-opacity:1;" />
      <svg:stop id="stop4326" offset="1" style="stop-color:#484849;stop-opacity:1" />
    </svg:linearGradient>
    <svg:radialGradient gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.0234659,-0.0038878,0.00192213,0.50599948,-9.2267888,454.58824)"
      r="117.25332" fy="874.67328" fx="321.55341" cy="874.67328" cx="321.55341" id="radialGradient4328" xlink:href="#linearGradient4322"
    />
    <svg:radialGradient gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.27126546,0,640.15437)" r="113.5097" fy="878.44659"
      fx="325.04852" cy="878.44659" cx="325.04852" id="radialGradient4336" xlink:href="#linearGradient4322" />
    <svg:radialGradient gradientUnits="userSpaceOnUse" gradientTransform="matrix(6.0306735,0.0269587,-0.03857217,8.2126339,-1395.6954,-5422.0635)"
      r="40.000444" fy="762.41486" fx="282.64557" cy="762.41486" cx="282.64557" id="radialGradient4356" xlink:href="#linearGradient4322"
    />
    <svg:linearGradient gradientTransform="matrix(0.97922539,0,0,1.1298173,5.0563196,-33.305422)" spreadMethod="reflect" gradientUnits="userSpaceOnUse"
      y2="311.06796" x2="583.68933" y1="312.233" x1="326.21359" id="linearGradient4410" xlink:href="#linearGradient4402" />
    <svg:linearGradient gradientTransform="matrix(1.0084215,0,0,1,-4.6401293,2)" spreadMethod="reflect" gradientUnits="userSpaceOnUse"
      y2="666.98236" x2="336.81653" y1="666.57123" x1="324.51105" id="linearGradient4196" xlink:href="#linearGradient4186"
    />
    <svg:linearGradient gradientTransform="translate(-2,2)" gradientUnits="userSpaceOnUse" y2="623.82507" x2="339.96777" y1="623.82507"
      x1="310.02017" id="linearGradient4204" xlink:href="#linearGradient4322" />
    <svg:linearGradient gradientTransform="matrix(1,0,0,0.99752703,-2.2055543,2.9917898)" gradientUnits="userSpaceOnUse" y2="691.64886"
      x2="332.88129" y1="691.64886" x1="316.87582" id="linearGradient4212" xlink:href="#linearGradient4322" />
    <svg:linearGradient gradientTransform="matrix(0.8347826,0,0,1,53.4343,0)" gradientUnits="userSpaceOnUse" y2="671.98505" x2="343.82025"
      y1="671.98505" x1="300.74908" id="linearGradient4224" xlink:href="#linearGradient4322" />
    <svg:linearGradient gradientTransform="matrix(0.97922539,0,0,0.32505395,8.42055,706.34372)" spreadMethod="reflect" gradientUnits="userSpaceOnUse"
      y2="311.06796" x2="583.68933" y1="312.233" x1="326.21359" id="linearGradient4410-1" xlink:href="#linearGradient4402"
    />
    <svg:linearGradient y2="395.78906" x2="332.39459" y1="395.81689" x1="323.45355" spreadMethod="reflect" gradientTransform="matrix(0.97922539,0,0,0.32505395,8.42055,706.34372)"
      gradientUnits="userSpaceOnUse" id="linearGradient4389" xlink:href="#linearGradient4392" />
    <svg:linearGradient y2="311.06796" x2="583.68933" y1="312.233" x1="326.21359" spreadMethod="reflect" gradientTransform="matrix(0.97922539,0,0,0.32505395,8.42055,706.34372)"
      gradientUnits="userSpaceOnUse" id="linearGradient4405" xlink:href="#linearGradient4402" />
  </svg:defs>
  <svg:g app-cilinder-foot style="display:inline" id="layerCilinderFoot"></svg:g>
  <svg:g app-cilinder-top style="display:inline" id="layerCilinderTop"></svg:g>
  <svg:g app-cilinder-base style="display:inline" id="layerCilinderBase"></svg:g>
  <svg:g app-cilinder-beer style="display:inline" id="layerBeerInCilinder"></svg:g>
  <svg:g app-cilinder style="display:inline" id="layerCilinder"></svg:g>

  <svg:g [@beerAnimation]="beerAnimation" (@beerAnimation.done)="toggleBeerAnimation()" style="display:inline" id="layerBeerGlass">
    <svg:g app-glass-back></svg:g>
    <svg:g app-stream-fluid></svg:g>
    <svg:g app-beer transform="translate(169.00262,47.61823)" id="g4457"></svg:g>
    <svg:g app-glass-front></svg:g>
  </svg:g>

  <svg:g app-cilinder-levels style="display:inline" id="layerCilinderLevels"></svg:g>
  <svg:g app-tap style="display:inline" id="layerCilinderTap"></svg:g>
</svg>
