#cilinder-foot-back {
    fill: url(#radialGradient4336);
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1.01036179;
}

#cilinder-foot-front {
    fill: url(#radialGradient4328);
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: none;
    stroke-width: 0.98408008px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}