#path4379 {
    display: inline;
    fill: url(#linearGradient4410-1);
    fill-opacity: 1;
}

#path4381 {
    display: inline;
    opacity: 0.57639992;
    fill: url(#linearGradient4389);
    fill-opacity: 1;
}