<svg:path id="pathLineBeerHigh" class="cilinder-prints" d="m 324.28721,208.57812 a 115.78948,34.744069 0 0 0 -44.44726,2.67228 l 0,1.82283 a 115.78948,34.744069 0 0 1 44.44726,-2.71995 115.78948,34.744069 0 0 1 36.55274,1.81417 l 0,-1.76736 a 115.78948,34.744069 0 0 0 -36.55274,-1.82197 z"
  style="opacity:1;fill:#ff0000;fill-opacity:1;stroke:none;stroke-opacity:1" />
<svg:path id="pathLineBeerMedium" class="cilinder-prints" d="m 279.83995,351.45775 0,1.5 81,0 0,-1.5 -81,0 z" style="opacity:1;fill:#ff0000;fill-opacity:1;stroke:none;stroke-opacity:1"
/>
<svg:path id="pathLineBeerLow" class="cilinder-prints" d="m 279.83995,491.07812 0,1.82284 a 115.78948,34.744069 0 0 0 44.44726,2.67227 115.78948,34.744069 0 0 0 36.55274,-1.82197 l 0,-1.76736 a 115.78948,34.744069 0 0 1 -36.55274,1.81417 115.78948,34.744069 0 0 1 -44.44726,-2.71995 z"
  style="opacity:1;fill:#ff0000;fill-opacity:1;stroke:none;stroke-opacity:1" />
<svg:text id="textBeerHigh" y="201.12675" x="307.49295" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40px;line-height:122.00000286%;font-family:Laksaman;-inkscape-font-specification:Laksaman;letter-spacing:0px;word-spacing:0px;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
  xml:space="preserve">
  <svg:tspan y="201.12675" x="307.49295" class="cilinder-prints">H</tspan>
</svg:text>
<svg:text id="textBeerMedium" y="347.54929" x="304.9014" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40px;line-height:125%;font-family:Laksaman;-inkscape-font-specification:Laksaman;letter-spacing:0px;word-spacing:0px;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
  xml:space="preserve">
  <svg:tspan y="347.54929" x="304.9014" class="cilinder-prints">M</tspan>
</svg:text>
<svg:text id="textBeerLow" y="489.12677" x="310.0845" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40px;line-height:125%;font-family:Laksaman;-inkscape-font-specification:Laksaman;letter-spacing:0px;word-spacing:0px;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
  xml:space="preserve">
  <svg:tspan y="489.12677" x="310.0845" class="cilinder-prints">L</tspan>
</svg:text>