#tap-base {
    opacity: 0.45;
    fill: url(#linearGradient4224);
    fill-opacity: 1;
    stroke: none;
    stroke-opacity: 1;
}

#tap-handle {
    fill: url(#linearGradient4204);
    fill-opacity: 1;
}

#tap-ring {
    fill: url(#linearGradient4196);
    fill-opacity: 1;
}

#tap-tip {
    fill: url(#linearGradient4212);
    fill-opacity: 1;
}